@import "tailwindcss";

@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  padding-inline: 15px;
  margin-inline: auto;
}

@theme {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Barlow', sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  --color-primary: #18181B;
  --color-secondary-light: #282624;
  --color-secondary-dark: #DBD8D7;
  --color-accent: #ff6900;
  --color-border: #dbd8d7;

  --shadow-custom: 0px 4px 54px 10px rgba(18, 19, 21, 0.06);

  --background-image-hero: url('/assets/img/hero.webp');
  --background-image-black-transparent-right: linear-gradient(to right, #18181B, rgb(0, 0, 0, 0));
  --background-image-black-transparent-left: linear-gradient(to left, #18181B, rgb(0, 0, 0, 0));
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

body {
  @apply font-secondary text-secondary-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary;
}

.h1 {
  @apply text-[40px] xl:text-[54px] uppercase font-black leading-[1.1];
}

.h2 {
  @apply text-[36px] xl:text-[46px] font-bold leading-[1.3] xl:leading-[56px] capitalize
}

.h3 {
  @apply font-bold text-3xl
}

.h4 {
  @apply font-semibold text-2xl
}